@{
	Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("LayoutHeadComponentPartial");

<body>
	<!-- Modal -->
	<div class="wrapper">
		@await Component.InvokeAsync("LayoutNavbarComponentPartial");
		@await Component.InvokeAsync("LayoutSidebarComponentPartial"); 
		@RenderBody()
	</div>
@await Component.InvokeAsync("LayoutScriptComponentPartial");
</body>
</html>
